:root{
    --rood:#BE1622; 
    --zwart:#000000;
    --beige: #ACAA7D;

}

*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: var(--beige);
}

header{
    width: 100%;
    
}

nav{
    letter-spacing: 1px;
    width: 100%;
    height: 100px;
    background-color: var(--rood);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main{
    width: 100%;
    height: auto;
}



.navigatie{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-indent: 50px;
    margin: auto;
}

.logo{
    width: 5px;
    height: 5px;
    padding-left: 5px;

    display: flex;
    align-items: center;
}

.blokje{
    background-color: var(--rood);
    height: 5px;
    width: 100%;
    margin: auto;
}

.link:link{
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;

}
.link:hover{
    background-color: var(--rood);
    border-radius: 3px;
    
    
    
}

.tekst{
    width: 80%;
    height: 150px;
    color: black;
    text-align: center;
    background-color: cornsilk;
    margin: auto;
}

.streep{
    width: 100px;
    height: 100px;
    clip-path: polygon(39% 0, 57% 0, 30% 100%, 11% 100%);

    background-color: var(--rood);
}